<div class="row">
  <div class="date-move-icon col-md-1"><icon class="fa fa-angle-left"></icon></div>
  <div class = "row col-md-10">
<% for i in 0..@days_count-1 %>
<div class="col-md-3">
  <div class="panel panel-default task-pane ">
    <div class="panel-heading">
      <% current_date = @start_date+i.day %>
      <h3 class="panel-title text-center"><%= current_date.strftime("%b %d, %Y")   %></h3>
      <p class="text-center"><%= current_date.strftime("%A") %>
    </div>
    <div class="panel-body">
      
      <% current_tasks = @tasks[i.to_s.to_sym] %>
      <% if current_tasks.present? %>
        <% current_tasks.each do |c_task| %>
        <p class="task-item-line"><%= best_in_place c_task, :title, :type => :input %></p>
        <% end %>
      <% end %> 
      <% @task = current_user.tasks.new 
        @task.due_date = current_date
      %>
      <p class="task-item-line new-task"><%= best_in_place @task, :title, :url => create_task_path, :type => :input, :nil => "Enter new task" %></p>
    </div>
  </div>
</div>

<% end %>
</div>

<div class="date-move-icon col-md-1"><icon class="fa fa-angle-right"></div>
</div>
